<!--<p>-->
  <!--log-in works!-->
<!--</p>-->
<div class="flexible">
  <mat-card mat-card-title class="mat-display-1 nameCard" style="margin: auto">
    <h1 style="color: white">Friend Scheduler</h1>
  </mat-card>
</div>
<body>
  <mat-card class="logInCard">
    <form class="example-form" (submit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput ngModel="username" type="text" id="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="text" id="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Log In</button>
    </form>
  </mat-card>
</body>


