.flexible{
  display: flex;
}

body {
  display: flex;
  height: 400px;
}

.nameCard {
  background-color: #3F51B5;
  width: 100%;
  text-align: center;
}

.logInCard {
  width: 300px;
  margin: auto;
  background: #fafafa;
}

.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
