
.UserContent {
	display: flex;
	flex-direction: row;
}

.UserPic {
	width: 4rem;
	height: 4rem;
	border-radius: 25%;
	background-color: var(--grey_light);
}

.UserInfo {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	margin-right: 1rem;
}

.UserUsername {
	margin-top: 0.25rem;
}

.UserEmail {
	margin-top: 0.5rem;
}

.UserAddFriendButton, .UserDenyFriendButton {
	margin-left: auto !important;
}

.UserConfirmFriendButton {
	margin-left: 0.5em !important;
}
