
.users-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.users-li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--border-color);
}

.users-li:first-child {
	padding-top: 0;
}

.users-li:last-child {
	padding-bottom: 0;
	border: none;
}
