body {
	margin: 0;
	padding: 0;
	background: var(--wallpaper);
	color: var(--text);
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	transition: var(--change_color_transition);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--change_color_transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

:root {
	--white: #FFFFFF;
	--blue: #3f51b5;
	--grey_dark: #23272A;
	--grey: #2C2F33;
	--grey_light: #393D41;
	--black: #000000;
}

.light {
	--header: var(--blue);
	--wallpaper: var(--white);
	--elements: var(--white);
	--text: var(--black);
	--header_text: var(--white);
	--primary: var(--blue);
}

.dark {
	--header: var(--grey_dark);
	--wallpaper: var(--grey);
	--elements: var(--grey_light);
	--text: var(--white);
	--header_text: var(--white);
	--primary: var(--blue);
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.col.centered, .row.centered {
	align-items: center;
}
