
.edit-schedule-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.edit-schedule-day-select {
	width: 9em;
}

.edit-schedule-start-field {
	margin-right: 0.5em !important;
	margin-left: 0.5em !important;
}

.edit-schedule-error-message {
	color: var(--error_color);
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}

.edit-schedule-delete-button {
	margin-right: 0.5em !important;
}

.edit-schedule-cancel-button {
	margin-right: 0.5em !important;
}
