<app-navbar></app-navbar>
<!--<p>-->
  <!--friends works!-->
<!--</p>-->
<mat-card class="mat-h2">
  <h1>Friends</h1>
</mat-card>
<mat-card>
  <h4>Add Friend</h4>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Friend Name" required>
    </mat-form-field>
    <button mat-raised-button style="left: 25px" type="submit" color="primary">Add</button>
  </form>
</mat-card>
<mat-card>
  <table matSort (matSortChange)="sortData($event)">
    <tr class="mat-h3">
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="isAvail">Is Available?</th>
      <th mat-sort-header="nextAvail">Next Time Available</th>
    </tr>

    <!--<tr *ngFor="let dessert of sortedData">-->
    <!--<td>{{dessert.name}}</td>-->
    <!--<td>{{dessert.calories}}</td>-->
    <!--<td>{{dessert.fat}}</td>-->
    <!--<td>{{dessert.carbs}}</td>-->
    <!--<td>{{dessert.protein}}</td>-->
    <!--</tr>-->
  </table>
</mat-card>
