<app-navbar></app-navbar>
<!--<p>-->
  <!--home works!-->
<!--</p>-->
<mat-card class="mat-h2">
  <h1>Available Friends</h1>
</mat-card>
<mat-card class="mat-h3">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="availTime">Time Available</th>
    </tr>

    <tr *ngFor="let avail of sortedData">
      <td>{{avail.name}}</td>
      <td>{{avail.availTime}} minutes left</td>
      <!--<td>{{dessert.fat}}</td>-->
      <!--<td>{{dessert.carbs}}</td>-->
      <!--<td>{{dessert.protein}}</td>-->
    </tr>
  </table>
</mat-card>
<mat-card class="mat-h4">
  <h3>Schedule</h3>
</mat-card>
<mat-card class="mat-h2" id="gridCard">
  <mat-grid-list cols="8" rowHeight="25px">
    <mat-grid-tile>Time</mat-grid-tile>
    <mat-grid-tile>M</mat-grid-tile>
    <mat-grid-tile>T</mat-grid-tile>
    <mat-grid-tile>W</mat-grid-tile>
    <mat-grid-tile>TR</mat-grid-tile>
    <mat-grid-tile>F</mat-grid-tile>
    <mat-grid-tile>SA</mat-grid-tile>
    <mat-grid-tile>S</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="8" rowHeight="18px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      [id] = "tile.id"
      onclick="">
      {{tile.time}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>


