<!--<p>-->
  <!--navbar works!-->
<!--</p>-->
<mat-toolbar color="primary">
  <span>You Free?</span>
  <span class="firstSpace"></span>
  <button mat-button type="submit" routerLink="/home">Home</button>
  <span class="space"></span>
  <button mat-button type="submit" routerLink="/schedule">My Schedule</button>
  <span class="space"></span>
  <button mat-button routerLink="/friends">Friends</button>
  <span class="end"></span>
  <button mat-button routerLink="/log-in">Log Out</button>
</mat-toolbar>

