
.edit-schedule-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.edit-schedule-day-select {
	width: 9em;
}

.edit-schedule-start-field {
	margin-right: 0.5em !important;
	margin-left: 0.5em !important;
}

.edit-schedule-delete-button {
	margin-right: 0.5em !important;
}

.edit-schedule-cancel-button {
	margin-right: 0.5em !important;
}
