
.intervals {
	display: flex;
	height: 1em;
}

.intervals .bar {
	height: 100%;
	background-color: var(--primary);
	transition: var(--button-transition);
}

.editable .intervals .bar {
	cursor: pointer;
}

.editable .intervals .bar:hover {
	background-color: var(--primary_dark);
}

.editable.faded .intervals .bar {
	opacity: 24%;
}

.editable.faded .intervals .bar:hover {
	opacity: 36%;
}

.editable.faded .intervals .bar.selected {
	opacity: 100%;
}

