
#EditScheduleForm {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

#dayOfWeekSelect {
	width: 5em;
}

#timesDiv {
	margin-left: 2rem;
	margin-right: 2rem;
	justify-content: space-around;
	align-content: space-around;
}

#submitButton {
	height: fit-content;
}
