
#appBar {
	margin-bottom: 1.4em;
	color: var(--header_text);
	background: var(--header);
	transition: var(--background_transition), var(--color_transition) !important;
}

#home {
	margin-right: 2em;
}

#tab-search, #tab-about, #tab-profile {
	margin-left: 1em;
}

#logout-button {
	margin-left: auto;
}
