
#appBar {
	margin-bottom: 1.4em;
	padding-right: 1em;
	color: var(--header_text);
	background: var(--header);
}

#home {
	/*cursor: pointer;*/
	margin-right: 2em;
}

#tab-search {
	margin-left: 1em;
}

#logout-button {
	margin-left: auto;
	/*color: var(--text);*/
}

#lightModeIcon {
	margin-left: 1em;
}

#lightModeIcon:hover {
	cursor: pointer;
}
