
#appBar {
	margin-bottom: 1.4em;
	padding-right: 1em;
	color: var(--header_text);
	background: var(--header);
}

#home {
	/*cursor: pointer;*/
	margin-right: 2em;
}

#lightModeIcon {
	margin-left: auto;
}

#lightModeIcon:hover {
	cursor: pointer;
}

#tab-search {
	margin-left: 1em;
}
