
.MyScheduleCard {
	margin-bottom: 0.5em;
	background: var(--elements) !important;
	color: var(--text) !important;
	transition: var(--change_color_transition) !important;
	width: 100%;
}

.MyScheduleCard .Title {
	margin-bottom: 0.75em !important;
	width: 100%;
}

#ExpandButton {
	margin-left: auto;
}

#EditScheduleCollapse {
	padding: 16px;
}

#EditScheduleForm {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
